.card {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
}

.cardpicture {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }

.cartbutton{
    margin-top: 70%;
    background-color: black;
    height: 20%;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.8;
    color:white;
    text-align: center;
    font-size: medium;
}

.cartbutton:hover {
    opacity: 0.5;
}