.menu-item {
  height: 240px;
  flex: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;

}

.test{
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    
}

.test:hover{
    transform: scale(1.3);
    /*transform: rotateY(360deg);*/
    transition: transform 3s;
}
 /* .menu-item:first-child {
    margin-right: 7.5px;
  }

  .menu-item:last-child {
    margin-left: 7.5px;
  }
  */
